.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-sub-continer{
  width: 1240px;
}
.main-banner{
  height: 508px;
  margin-bottom: 80px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.content-container{
  width: 1240px;
}
.content-item-container {
  width: 1240px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: content-box;
  height: 442px;
  padding: 10px 0 20px 0; /* 상하 여백 추가 */
  position: relative;
}

.content-item-container::-webkit-scrollbar {
  display: none;
}